## Importing cleaned Data wrangled from the internet

- Scheduled flights for Frankfurt Airport (assumed flights for 2019)
- Tracked flights for Frankfurt Airport (actual flights for 2020)
- Pollution data from Wiesbaden Weather Station (near Frankfurt)
- Bitcoin value vs the EUR, USD and CNY
- Zoom share prices

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# importing scheduled flight data for 2019

df_flights_2019 = pd.read_json('../data/clean_frankfurt_flight_2019.json')
#df_flights_2019.set_index('date', inplace=True)

df_flights_2019.head()

        date  scheduled_flights
0 2019-05-18                127
1 2019-05-19                116
2 2019-05-20                128
3 2019-05-21                135
4 2019-05-22                140

In [3]:
# importing scheduled flight data for 2020

df_flights_2020 = pd.read_json('../data/clean_frankfurt_flight_2020.json')

df_flights_2020.head()

        date  tracked_flights
0 2020-05-18               87
1 2020-05-19               73
2 2020-05-20               86
3 2020-05-21               85
4 2020-05-22               95

In [11]:
# Importing pollution data from 16-06-2019 to 16-06-2020 
# Using lower() on 'Date'

df_pollution = pd.read_json('../data/clean_pollutiondata.json')
df_pollution.columns = ['date', 'o3', 'pm25', 'pm10', 'no2']

df_pollution.head(10)

        date    o3  pm25  pm10   no2
0 2019-06-16  28.8    22     8  10.3
1 2019-06-17  25.2    28    10  12.9
2 2019-06-18  30.6    44    16  18.1
3 2019-06-19  35.3    42    18  20.7
4 2019-06-20  28.8    21     9   6.5
5 2019-06-21  31.8    20     8   9.4
6 2019-06-22  36.4    35    11  10.0
7 2019-06-23  35.5    44    14   8.6
8 2019-06-24  34.5    47    16  11.6
9 2019-06-25  38.2    52    20  17.1

In [5]:
# Importing bitcoin normalised data from 16-06-2019 to 16-06-2020

df_bitcoin = pd.read_json('../data/clean_bitcoin_exchange_normalised.json')
df_bitcoin = df_bitcoin.reset_index()
df_bitcoin.columns = ['date', 'eur', 'cny_eur_val', 'usd_eur_val']

df_bitcoin.head()

        date          eur  cny_eur_val  usd_eur_val
0 2019-06-16  7853.059952  7850.528097  7849.928349
1 2019-06-17  8006.856370  7993.332848  7992.498298
2 2019-06-18  8298.389613  8323.963456  8324.723603
3 2019-06-19  8121.834445  8113.257039  8114.590654
4 2019-06-20  8264.077225  8271.571985  8212.548575

In [15]:
# Importing zoom boom share prices from 16-06-2019 to 16-06-2020
# Extracting relevant columns for merging

df_zoom_shares = pd.read_json('../data/zoom_shareprice.json')

df_zoom_shares_close = df_zoom_shares[['date','close']]

df_zoom_shares_close.head()

        date   close
0 2020-06-15  239.02
1 2020-06-12  219.52
2 2020-06-11  222.07
3 2020-06-10  221.02
4 2020-06-09  205.43

In [7]:
df_zoom_shares_volatility = df_zoom_shares[['date','close','high_low']]
df_zoom_shares_volatility.head()

        date   close  high_low
0 2020-06-15  239.02     13.21
1 2020-06-12  219.52     14.70
2 2020-06-11  222.07     13.50
3 2020-06-10  221.02     13.27
4 2020-06-09  205.43      7.66

## Merging relevant columns from datasets

- merging df_flights_2019 with df_pollution
- merging df_flights_2020 with df_pollution
- merging df_bitcoin and df_zoom_shares_close
- plotting df_zoom_shares_close and df_zoom_shares_volatility

### Flights and pollution

In [8]:
# merging df_flights_2019 with df_pollution

df_pol_flights_2019 = df_flights_2019.merge(df_pollution)

df_pol_flights_2019

        date  scheduled_flights    o3  pm25  pm10   no2
0 2019-06-16                207  28.8    22     8  10.3

In [9]:
# merging df_flights_2020 with df_pollution

df_pol_flights_2020 = df_flights_2020.merge(df_pollution)

df_pol_flights_2020.head()

        date  tracked_flights    o3  pm25  pm10   no2
0 2020-05-18               87  32.9    23    11  15.3
1 2020-05-19               73  39.4    29    13  13.9
2 2020-05-20               86  31.6    44    16  12.8
3 2020-05-21               85  27.8    30    11   6.6
4 2020-05-22               95  30.3    46    18  12.5

In [12]:
# merging df_bitcoin and df_zoom_shares_close

compare_bitcoin_zoom = df_bitcoin.merge(df_zoom_shares_close)
compare_bitcoin_zoom

          date          eur  cny_eur_val  usd_eur_val   close
0   2019-06-17  8006.856370  7993.332848  7992.498298   98.11
1   2019-06-18  8298.389613  8323.963456  8324.723603   99.64
2   2019-06-19  8121.834445  8113.257039  8114.590654  102.39
3   2019-06-20  8264.077225  8271.571985  8212.548575  102.30
4   2019-06-21  8453.609849  8410.131706  8437.888446  100.47
..         ...          ...          ...          ...     ...
247 2020-06-09  8646.746500  8635.804261  8653.293353  205.43
248 2020-06-10  8617.878073  8607.686536  8586.378300  221.02
249 2020-06-11  8685.052390  8688.680323  8701.884633  222.07
250 2020-06-12  8258.589886  8237.167194  8250.174147  219.52
251 2020-06-15  8304.428332  8291.730899  8305.306059  239.02

[252 rows x 5 columns]

In [16]:
# plotting df_zoom_shares_close and df_zoom_shares_volatility

df_zoom_shares_volatility.head()

        date   close  high_low
0 2020-06-15  239.02     13.21
1 2020-06-12  219.52     14.70
2 2020-06-11  222.07     13.50
3 2020-06-10  221.02     13.27
4 2020-06-09  205.43      7.66