## Combing cleaned Data wrangled from the internet

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# importing scheduled flight data for 2019

df_flights_2019 = pd.read_json('../data/clean_frankfurt_flight_2019.json')
df_flights_2019.head()

        date  scheduled_flights
0 2019-05-18                127
1 2019-05-19                116
2 2019-05-20                128
3 2019-05-21                135
4 2019-05-22                140

In [5]:
# importing scheduled flight data for 2020

df_flights_2020 = pd.read_json('../data/clean_frankfurt_flight_2020.json')
df_flights_2020.head()

        date  tracked_flights
0 2020-05-18               87
1 2020-05-19               73
2 2020-05-20               86
3 2020-05-21               85
4 2020-05-22               95

In [6]:
# Importing pollution data from 16-06-2019 to 16-06-2020

df_pollution = pd.read_json('../data/clean_pollutiondata.json')
df_pollution.head()

        Date    o3  pm25  pm10   no2
0 2019-06-16  28.8    22     8  10.3
1 2019-06-17  25.2    28    10  12.9
2 2019-06-18  30.6    44    16  18.1
3 2019-06-19  35.3    42    18  20.7
4 2019-06-20  28.8    21     9   6.5

In [7]:
# Importing bitcoin normalised data from 16-06-2019 to 16-06-2020

df_bitcoin = pd.read_json('../data/clean_bitcoin_exchange_normalised.json')
df_bitcoin.head()

                    eur  cny_eur_val  usd_eur_val
2019-06-16  7853.059952  7850.528097  7849.928349
2019-06-17  8006.856370  7993.332848  7992.498298
2019-06-18  8298.389613  8323.963456  8324.723603
2019-06-19  8121.834445  8113.257039  8114.590654
2019-06-20  8264.077225  8271.571985  8212.548575