## Importing cleaned Data wrangled from the internet

- Scheduled flights for Frankfurt Airport (assumed flights for 2019)
- Tracked flights for Frankfurt Airport (actual flights for 2020)
- Pollution data from Wiesbaden Weather Station (near Frankfurt)
- Bitcoin value vs the EUR, USD and CNY
- Zoom share prices

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
# importing scheduled flight data for 2019 and setting date as index

df_flights_2019 = pd.read_json('../data/clean_frankfurt_flight_2019.json')
df_flights_2019.set_index('date', inplace=True)

df_flights_2019.head()

            scheduled_flights
date
2019-05-18                127
2019-05-19                116
2019-05-20                128
2019-05-21                135
2019-05-22                140

In [10]:
# importing scheduled flight data for 2020 and setting date as index

df_flights_2020 = pd.read_json('../data/clean_frankfurt_flight_2020.json')
df_flights_2020.set_index('date', inplace=True)

df_flights_2020.head()

            tracked_flights
date
2020-05-18               87
2020-05-19               73
2020-05-20               86
2020-05-21               85
2020-05-22               95

In [13]:
# Importing pollution data from 16-06-2019 to 16-06-2020 
# Using lower() on 'Date' and setting date as index

df_pollution = pd.read_json('../data/clean_pollutiondata.json')
df_pollution.columns = ['date', 'o3', 'pm25', 'pm10', 'no2']

df_pollution.set_index('date', inplace=True)

df_pollution.head()

              o3  pm25  pm10   no2
date
2019-06-16  28.8    22     8  10.3
2019-06-17  25.2    28    10  12.9
2019-06-18  30.6    44    16  18.1
2019-06-19  35.3    42    18  20.7
2019-06-20  28.8    21     9   6.5

In [6]:
# Importing bitcoin normalised data from 16-06-2019 to 16-06-2020

df_bitcoin = pd.read_json('../data/clean_bitcoin_exchange_normalised.json')

df_bitcoin.head()

                    eur  cny_eur_val  usd_eur_val
2019-06-16  7853.059952  7850.528097  7849.928349
2019-06-17  8006.856370  7993.332848  7992.498298
2019-06-18  8298.389613  8323.963456  8324.723603
2019-06-19  8121.834445  8113.257039  8114.590654
2019-06-20  8264.077225  8271.571985  8212.548575

In [20]:
# Importing zoom boom share prices from 16-06-2019 to 16-06-2020 and setting date as index
# Extracting relevant columns for merging

df_zoom_shares = pd.read_json('../data/zoom_shareprice.json')
df_zoom_shares.set_index('date', inplace=True)

df_zoom_shares_close = df_zoom_shares[['close']]

df_zoom_shares_close.head()

              close
date
2020-06-15  2572.68
2020-06-12  2545.02
2020-06-11  2557.96
2020-06-10  2647.45
2020-06-09  2600.86

In [21]:
df_zoom_shares_volatility = df_zoom_shares[['close','high_low']]
df_zoom_shares_volatility.head()

              close  high_low
date
2020-06-15  2572.68     76.00
2020-06-12  2545.02    118.13
2020-06-11  2557.96    135.15
2020-06-10  2647.45     96.09
2020-06-09  2600.86    101.43

## Merging relevant columns from datasets

- merging df_flights_2019 with df_pollution
- merging df_flights_2020 with df_pollution
- merging df_bitcoin and df_zoom_shares_close
- plotting df_zoom_shares_close and df_zoom_shares_volatility

### Flights and pollution

In [23]:
df_pol_flights_2019 = df_flights_2019.merge(df_pollution)
df_pol_flights_2019

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False